@import "../../responsive.scss";

.filter {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;

  // Adjust width for larger screens
  @include md {
    width: 100%;
    margin: 0 auto;
  }

  h1 {
    font-weight: 300;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;

    span {
      color: #ef964c;
      font-weight: 500;
    }

    @include sm {
      font-size: 1.5rem;
    }
  }

  .item {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    label {
      font-size: 0.875rem;
      color: #333;
    }

    input,
    select {
      width: 100%;
      max-width: 250px;
      padding: 0.625rem;
      border: 1px solid #e0e0e0;
      border-radius: 0.375rem;
      font-size: 0.875rem;
      transition: border-color 0.3s;

      &:focus {
        border-color: #a6cbf8;
        outline: none;
      }
    }
  }

  .top {
    display: flex;

    input {
      width: 100%;
      max-width: 500px;
    }
  }

  .bottom {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

    @include sm {
      justify-content: space-between;
    }

    .item {
      flex: 1 1 150px;
    }

    button {
      background-color: #ef964c;
      color: white;
      border: none;
      border-radius: 0.375rem;
      padding: 0.625rem 1.5rem;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #ef954caa;
      }
    }
  }
}
