@import "../../responsive.scss";

.searchbar {
  .type {
    display: flex;
    gap: 10px;
    flex-wrap: wrap; // Ensure elements wrap on smaller screens
    justify-content: space-between;

    button {
      padding: 16px 36px;
      border: 1px solid #999;
      cursor: pointer;
      background-color: white;
      text-transform: capitalize;
      border-bottom: none;
      flex-grow: 1;

      &.active {
        background-color: black;
        color: white;
      }

      &:first-child {
        border-top-left-radius: 5px;
      }
      &:last-child {
        border-top-right-radius: 5px;
      }
    }
  }

  form {
    display: flex;
    gap: 15px;
    background-color: white;

    border: 1px solid #999;
    @include sm {
      flex-direction: column;
      border: none;
    }

    .location {
      width: 20px;
      height: 20px;
      margin-top: 13px;
      right: 50px;

      @include sm {
        position: absolute;
      }
    }

    input {
      width: 100%;
      padding: 10px;
      border: 1px solid #999;

      @include sm {
        padding: 10px;
      }
    }

    button {
      width: 100%;
      background-color: #ef964c;
      border: none;
      padding: 12px;
      cursor: pointer;

      @include sm {
        padding: 10px;
      }

      img {
        width: 25px;
      }
    }
  }

  // Ensure dropdowns take full width on small screens
  .chakra-select {
    width: 100%;
    @include sm {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}
