@tailwind base;
@tailwind components;
@tailwind utilities;
/* Add this to your global styles or specific stylesheet */
.review-card {
  transition: transform 0.2s;
}

.review-card:hover {
  transform: scale(1.05);
}
/* In your HomePage.scss or global stylesheet */
html {
  scroll-behavior: smooth;
}
